:root {
	--Blue:#83c7ff;
	--Gray:#474b50;
	--Hover:rgb(71, 75, 80, 0.7);
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	scroll-padding-top: 46px;
}

body {
	color: var(--Gray);
	font-family:Arial, Helvetica, sans-serif;
}

/* head and nav */
header {
	padding: 10px 20px 40px 10px;
	background-image: url("../images/header-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 80%;
	background-attachment: fixed;
	display: flex;
	flex-wrap: wrap;
}

header h1 {
	font-size: 35px;
	padding: 5px;
}

nav {
	position: sticky;
	top: 0px;
	z-index: 999;
	padding: 3px;
	background-image: url("../images/header-background.jpg");
	background-size: cover;
	background-position: 80%;
	background-attachment: fixed;
}

nav ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

nav ul li a {
	color: var(--Gray);
	text-decoration: none;
	display: flex;
	padding: 5px;
	font-size: 28px;
	font-weight: bold;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

nav ul li a:hover {
  color: var(--Hover);
	text-shadow: none;
}

/* side panel */
aside {
	padding: 20px 0px 20px 20px;
	border-right: solid 3px var(--Hover);
	width: 12.5%;
	font-size: 27px;
	font-weight: bold;
}

#work {
	text-decoration: none;
	color: var(--Gray);
}

#work:hover {
	color: var(--Hover);
}

/* section container */
.container {
	display: flex;
	flex-wrap: wrap;
}

/* about section */
.about-me {
	line-height: 1.5;
	font-size: 20px;	
	padding: 20px 40px;
	text-align: justify;
	width: 87.5%;
}

.about-me img {
	height: 250px;
	border-radius: 15px;
	padding: 10px;
}

.float {
	float: left;
}

/* work section */
.projects {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 40px;
	width: 87.5%;
	justify-content: space-evenly;
}

.img-box {
	position: relative;
}

.img-box header {
	background: var(--Blue);
	font-size: 20px;
	font-weight: bold;
	color: var(--Gray);
	padding: 5px;
	position: absolute;
	top: 20%;
	text-shadow: 2px 2px 2px rgba(230, 230, 230, 0.5);
}

.img-box:hover header{
	padding: 7.5px;	
	box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.6);
	transition: 0.5s;
	text-shadow: none;
}

#first-project img {
	width: 100%;
	height: auto;
}

.img-box img {
	width: 485px;
	height: 250px;
	border-radius: 15px;
	margin: 5px;
	box-shadow: 5px 5px 2px rgb(0 0 0 / 60%);
}

.img-box:hover img {
	box-shadow: none;
	transition: 0.4s; 
}

/* contact section */
address {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 25px 20px 20px;
	width: 87.5%;
}

address a {
	text-decoration: none;
	color: var(--Gray);
	display: flex;
	font-weight: bold;
	font-size: 20px;
}

address a:hover {
	color: var(--Hover);
}

/* media query */

@media screen and (max-width: 1200px) {
	aside {
		border-right: none;
		border-bottom: solid 4px var(--Hover);
		padding: 10px;
		width: auto;
	}

	.container {
		justify-content: center;
	}

	.about-me {
		width: 100%;
	}

	#first-project {
		margin: auto;
	}

	.img-box header {
		margin: auto;
	}

	.projects {
		padding: 20px 0px;
		width: 95%;
	}

	address {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	header h1 {
		font-size: 30px;
	}

	nav ul li a {
		font-size: 23px;
	}

	aside {
		font-size: 22px;
	}

	.about-me {
		line-height: 1.5;
		font-size: 15px;
	}

	.about-me img {
		height: 150px;
	}

	.projects {
		padding-bottom: 0px;
	}

	.img-box img {
		width: 100%;
		height: auto; 
	}

	.img-box header {
		font-size: 15px;
	}

	address {
		width: 335px;
		line-height: 1.5;
	}

	address a {
		font-size: 15px;
	}
}